{
    "openapi": "3.1.0",
    "info": {
        "title": "Lemma CMS API",
        "version": "1.0.0",
        "description": "The Lemma headless CMS API.\n\n## Authentication\n\n- **Delivery API** (`\/v1\/content\/*`) \u2014 send an API key in the `X-API-Key` header. The key must carry `read:content` or `read:content:{type}` unless the content type explicitly opts into public delivery. Keys are environment-prefixed (`gf_live_*` \/ `gf_test_*`) and provisioned out of band.\n- **Admin API** (`\/v1\/admin\/*`) \u2014 send a bearer JWT in the `Authorization` header (`Authorization: Bearer <token>`). Each route also enforces a `lemma.*` permission (named in the operation description). Obtain a token from your Glueful auth endpoint (e.g. `POST \/v1\/auth\/login`).\n- **Preview** (`GET \/v1\/preview\/{token}`) \u2014 unauthenticated: the signed, short-lived token in the path is itself the capability.\n\nOnly published content is ever returned by the delivery API; drafts are reachable only through a valid preview token."
    },
    "servers": [
        {
            "url": "https:\/\/api.getlemma.dev",
            "description": "Production"
        },
        {
            "url": "http:\/\/localhost:8000",
            "description": "Local development"
        }
    ],
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT bearer token. Used by the admin authoring API (\/v1\/admin\/*), combined with a per-route lemma_permission RBAC check."
            },
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "Environment-prefixed API key (gf_live_* \/ gf_test_*) sent in the X-API-Key header. The public delivery API (\/v1\/content\/*) requires a key carrying the read:content scope. (OpenAPI apiKey schemes cannot express scopes natively; the required scope is noted in each operation description.)"
            }
        },
        "schemas": {
            "PaginationMeta": {
                "type": "object",
                "properties": {
                    "current_page": {
                        "type": "integer",
                        "example": 1
                    },
                    "per_page": {
                        "type": "integer",
                        "example": 25
                    },
                    "total": {
                        "type": "integer",
                        "example": 137
                    },
                    "total_pages": {
                        "type": "integer",
                        "example": 6
                    },
                    "from": {
                        "type": "integer",
                        "example": 1
                    },
                    "to": {
                        "type": "integer",
                        "example": 25
                    },
                    "has_next_page": {
                        "type": "boolean",
                        "example": true
                    },
                    "has_previous_page": {
                        "type": "boolean",
                        "example": false
                    }
                },
                "required": [
                    "current_page",
                    "per_page",
                    "total",
                    "total_pages"
                ]
            },
            "PaginationLinks": {
                "type": "object",
                "properties": {
                    "first": {
                        "type": "string",
                        "format": "uri",
                        "example": "\/api\/users?page=1"
                    },
                    "last": {
                        "type": "string",
                        "format": "uri",
                        "example": "\/api\/users?page=6"
                    },
                    "prev": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uri"
                    },
                    "next": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uri"
                    }
                }
            },
            "SuccessResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Operation completed successfully"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "required": [
                    "success",
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "default": false,
                        "example": false
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "required": [
                    "success",
                    "message",
                    "data"
                ]
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Resource not found"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "integer",
                                "example": 404
                            },
                            "error_code": {
                                "type": "string",
                                "enum": [
                                    "BAD_REQUEST",
                                    "UNAUTHORIZED",
                                    "FORBIDDEN",
                                    "NOT_FOUND",
                                    "METHOD_NOT_ALLOWED",
                                    "CONFLICT",
                                    "UNPROCESSABLE_ENTITY",
                                    "TOO_MANY_REQUESTS",
                                    "INTERNAL_SERVER_ERROR",
                                    "SERVICE_UNAVAILABLE",
                                    "GATEWAY_TIMEOUT"
                                ],
                                "example": "NOT_FOUND"
                            },
                            "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 datetime when the error occurred."
                            },
                            "request_id": {
                                "type": "string",
                                "example": "req_abc123",
                                "description": "Correlation identifier for tracing this request in logs."
                            }
                        },
                        "required": [
                            "code",
                            "error_code",
                            "timestamp",
                            "request_id"
                        ]
                    }
                },
                "required": [
                    "success",
                    "message",
                    "error"
                ]
            },
            "WebhookEnvelope": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "wh_evt_abc123"
                    },
                    "event": {
                        "type": "string",
                        "example": "user.created"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "required": [
                    "id",
                    "event",
                    "created_at",
                    "data"
                ]
            },
            "ValidationErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Validation failed"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "success",
                    "message",
                    "errors"
                ]
            },
            "LoginRequest": {
                "type": "object",
                "required": [
                    "username",
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "description": "Username or email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password"
                    },
                    "remember_me": {
                        "type": "boolean",
                        "description": "Keep user logged in",
                        "default": false
                    }
                }
            },
            "LoginResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string",
                                "description": "JWT access token"
                            },
                            "refresh_token": {
                                "type": "string",
                                "description": "JWT refresh token"
                            },
                            "token_type": {
                                "type": "string",
                                "example": "Bearer"
                            },
                            "expires_in": {
                                "type": "integer",
                                "description": "Token expiration time in seconds"
                            },
                            "user": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "User unique identifier"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Email address"
                                    },
                                    "email_verified": {
                                        "type": "boolean",
                                        "description": "Email verification status"
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Username"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Full name"
                                    },
                                    "given_name": {
                                        "type": "string",
                                        "description": "First name"
                                    },
                                    "family_name": {
                                        "type": "string",
                                        "description": "Last name"
                                    },
                                    "picture": {
                                        "type": "string",
                                        "description": "Profile image URL"
                                    },
                                    "locale": {
                                        "type": "string",
                                        "description": "User locale (e.g., en-US)"
                                    },
                                    "updated_at": {
                                        "type": "integer",
                                        "description": "Last update timestamp (Unix epoch)"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "RefreshTokenRequest": {
                "type": "object",
                "required": [
                    "refresh_token"
                ],
                "properties": {
                    "refresh_token": {
                        "type": "string",
                        "description": "The refresh token to exchange for new tokens"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique user identifier"
                    },
                    "username": {
                        "type": "string",
                        "description": "User username"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "User email address"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "inactive",
                            "suspended"
                        ],
                        "description": "User account status"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Account creation timestamp"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last update timestamp"
                    }
                }
            },
            "CreateUserRequest": {
                "type": "object",
                "required": [
                    "username",
                    "email",
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "description": "Unique username"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "User email address"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password"
                    }
                }
            },
            "UpdateUserRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "New email address"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "inactive",
                            "suspended"
                        ],
                        "description": "New account status"
                    }
                }
            },
            "HealthCheckResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "healthy",
                            "unhealthy"
                        ],
                        "description": "Overall system health status"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Health check timestamp"
                    },
                    "services": {
                        "type": "object",
                        "properties": {
                            "database": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            },
                            "cache": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            },
                            "queue": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            }
                        }
                    }
                }
            },
            "ServiceHealth": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "up",
                            "down"
                        ],
                        "description": "Service availability status"
                    },
                    "latency": {
                        "type": "number",
                        "description": "Response time in milliseconds"
                    },
                    "message": {
                        "type": "string",
                        "description": "Additional status information"
                    }
                }
            },
            "Extension": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Extension name"
                    },
                    "version": {
                        "type": "string",
                        "description": "Extension version"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "enabled",
                            "disabled"
                        ],
                        "description": "Extension status"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "core",
                            "optional"
                        ],
                        "description": "Extension type"
                    },
                    "description": {
                        "type": "string",
                        "description": "Extension description"
                    },
                    "dependencies": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Required dependencies"
                    }
                }
            },
            "ExtensionListResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/Extension"
                        }
                    }
                }
            },
            "Notification": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Notification ID"
                    },
                    "type": {
                        "type": "string",
                        "description": "Notification type"
                    },
                    "notifiable_type": {
                        "type": "string",
                        "description": "Type of entity being notified"
                    },
                    "notifiable_id": {
                        "type": "string",
                        "description": "ID of entity being notified"
                    },
                    "data": {
                        "type": "object",
                        "description": "Notification payload"
                    },
                    "read_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "When notification was read"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When notification was created"
                    }
                }
            },
            "NotificationListResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/Notification"
                        }
                    },
                    "meta": {
                        "$ref": "#\/components\/schemas\/PaginationMeta"
                    }
                }
            },
            "FileUploadRequest": {
                "type": "object",
                "required": [
                    "file"
                ],
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "description": "The file to upload"
                    }
                }
            },
            "FileUploadResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string",
                                "description": "Uploaded file name"
                            },
                            "size": {
                                "type": "integer",
                                "description": "File size in bytes"
                            },
                            "mime_type": {
                                "type": "string",
                                "description": "File MIME type"
                            },
                            "url": {
                                "type": "string",
                                "description": "File access URL"
                            }
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "\/v1\/admin\/content-types": {
            "get": {
                "operationId": "getV1AdminContenttypes",
                "summary": "List content types",
                "tags": [
                    "Lemma Admin"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Each item includes its full field schema.",
                "responses": {
                    "200": {
                        "description": "All content types.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "content_types": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "uuid": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "cache_ttl": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ]
                                                            },
                                                            "public_delivery": {
                                                                "type": "boolean"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "schema": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "string",
                                                                                "text",
                                                                                "number",
                                                                                "boolean",
                                                                                "datetime",
                                                                                "enum",
                                                                                "reference",
                                                                                "asset",
                                                                                "json"
                                                                            ]
                                                                        },
                                                                        "required": {
                                                                            "type": [
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "localized": {
                                                                            "type": [
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "filterable": {
                                                                            "type": [
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "filter_type": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "enum": {
                                                                            "type": "array",
                                                                            "items": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "schema_version": {
                                                                "type": "integer"
                                                            },
                                                            "created_by": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "date-time"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "postV1AdminContenttypes",
                "summary": "Create a content type",
                "tags": [
                    "Lemma Admin"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "`slug` must be a unique lowercase identifier. Filterable-field indexes are built out-of-band after commit.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "slug": {
                                        "type": "string",
                                        "description": "Unique lowercase content-type slug (1\u2013160 chars)."
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Human-readable content-type name."
                                    },
                                    "description": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "Optional description of the content type."
                                    },
                                    "cache_ttl": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ],
                                        "description": "Optional delivery Cache-Control max-age override in seconds."
                                    },
                                    "public_delivery": {
                                        "type": "boolean",
                                        "description": "Whether published delivery routes may be read without an API key."
                                    },
                                    "schema": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "required": {
                                                    "type": [
                                                        "boolean",
                                                        "null"
                                                    ]
                                                },
                                                "localized": {
                                                    "type": [
                                                        "boolean",
                                                        "null"
                                                    ]
                                                },
                                                "filterable": {
                                                    "type": [
                                                        "boolean",
                                                        "null"
                                                    ]
                                                },
                                                "filter_type": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "enum": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "slug",
                                    "name"
                                ]
                            },
                            "example": {
                                "slug": "example-slug",
                                "name": "Jane",
                                "description": "A short description.",
                                "cache_ttl": "example",
                                "public_delivery": true,
                                "schema": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid slug\/name, duplicate slug, or invalid field schema.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Content type created.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "content_type": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "uuid": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "cache_ttl": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "public_delivery": {
                                                            "type": "boolean"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "schema": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "string",
                                                                            "text",
                                                                            "number",
                                                                            "boolean",
                                                                            "datetime",
                                                                            "enum",
                                                                            "reference",
                                                                            "asset",
                                                                            "json"
                                                                        ]
                                                                    },
                                                                    "required": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "localized": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "filterable": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "filter_type": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "enum": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "schema_version": {
                                                            "type": "integer"
                                                        },
                                                        "created_by": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "format": "date-time"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v1\/admin\/entries": {
            "post": {
                "operationId": "postV1AdminEntries",
                "summary": "Create an entry",
                "tags": [
                    "Lemma Admin"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Seeds an empty draft in the given `locale` (defaults to the i18n default).",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "content_type": {
                                        "type": "string",
                                        "description": "Slug of the content type to create an entry for."
                                    },
                                    "locale": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "description": "BCP-47 locale for the seeded draft, e.g. \"en\". Defaults to the i18n default locale."
                                    }
                                },
                                "required": [
                                    "content_type"
                                ]
                            },
                            "example": {
                                "content_type": "example",
                                "locale": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unknown content type.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Entry created with an empty draft.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "entry": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "uuid": {
                                                            "type": "string"
                                                        },
                                                        "content_type_uuid": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "enum": [
                                                                "active",
                                                                "archived",
                                                                "deleted"
                                                            ]
                                                        },
                                                        "created_by": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "format": "date-time"
                                                        }
                                                    }
                                                },
                                                "draft": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "entry_uuid": {
                                                            "type": "string"
                                                        },
                                                        "locale": {
                                                            "type": "string"
                                                        },
                                                        "fields": {
                                                            "type": "object"
                                                        },
                                                        "schema_version": {
                                                            "type": "integer"
                                                        },
                                                        "lock_version": {
                                                            "type": "integer"
                                                        },
                                                        "updated_by": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/v1\/admin\/content-types\/{slug}": {
            "get": {
                "operationId": "getV1AdminContenttypesBySlug",
                "summary": "Get a content type by slug",
                "tags": [
                    "Lemma Admin"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Includes the full field schema.",
                "responses": {
                    "200": {
                        "description": "The content type.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "content_type": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "uuid": {
                                                            "type": "string"
                                                        },
                                                        "slug": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "cache_ttl": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "public_delivery": {
                                                            "type": "boolean"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "schema": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            "string",
                                                                            "text",
                                                                            "number",
                                                                            "boolean",
                                                                            "datetime",
                                                                            "enum",
                                                                            "reference",
                                                                            "asset",
                                                                            "json"
                                                                        ]
                                                                    },
                                                                    "required": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "localized": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "filterable": {
                                                                        "type": [
                                                                            "boolean",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "filter_type": {
                                                                        "type": [
                                                                            "string",
                                                                            "null"
                                                                        ]
                                                                    },
                                                                    "enum": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "schema_version": {
                                                            "type": "integer"
                                                        },
                                                        "created_by": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "format": "date-time"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No content type with that slug.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteV1AdminContenttypesBySlug",
                "summary": "Delete a content type",
                "tags": [
                    "Lemma Admin"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Soft-delete: existing entries stay in storage but the model is hidden from listing and delivery.",
                "responses": {
                    "200": {
                        "description": "Content type deleted."
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No content type with that slug.",
[...]
