{
    "openapi": "3.1.0",
    "info": {
        "title": "Lemma CMS API",
        "version": "1.0.0",
        "description": "The Lemma headless CMS API.\n\n## Authentication\n\n- **Delivery API** (`\/v1\/content\/*`) \u2014 send an API key in the `X-API-Key` header. The key must carry `read:content` or `read:content:{type}` unless the content type explicitly opts into public delivery. Keys are environment-prefixed (`gf_live_*` \/ `gf_test_*`) and provisioned out of band.\n- **Admin API** (`\/v1\/admin\/*`) \u2014 send a bearer JWT in the `Authorization` header (`Authorization: Bearer <token>`). Each route also enforces a `lemma.*` permission (named in the operation description). Obtain a token from your Glueful auth endpoint (e.g. `POST \/v1\/auth\/login`).\n- **Preview** (`GET \/v1\/preview\/{token}`) \u2014 unauthenticated: the signed, short-lived token in the path is itself the capability.\n\nOnly published content is ever returned by the delivery API; drafts are reachable only through a valid preview token."
    },
    "servers": [
        {
            "url": "https:\/\/getlemma.com",
            "description": "Production"
        },
        {
            "url": "http:\/\/localhost:8000",
            "description": "Local development"
        }
    ],
    "components": {
        "securitySchemes": {
            "BearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT bearer token. Used by the admin authoring API (\/v1\/admin\/*), combined with a per-route lemma_permission RBAC check."
            },
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-API-Key",
                "description": "Environment-prefixed API key (gf_live_* \/ gf_test_*) sent in the X-API-Key header. The public delivery API (\/v1\/content\/*) requires a key carrying the read:content scope. (OpenAPI apiKey schemes cannot express scopes natively; the required scope is noted in each operation description.)"
            }
        },
        "schemas": {
            "PaginationMeta": {
                "type": "object",
                "properties": {
                    "current_page": {
                        "type": "integer",
                        "example": 1
                    },
                    "per_page": {
                        "type": "integer",
                        "example": 25
                    },
                    "total": {
                        "type": "integer",
                        "example": 137
                    },
                    "total_pages": {
                        "type": "integer",
                        "example": 6
                    },
                    "from": {
                        "type": "integer",
                        "example": 1
                    },
                    "to": {
                        "type": "integer",
                        "example": 25
                    },
                    "has_next_page": {
                        "type": "boolean",
                        "example": true
                    },
                    "has_previous_page": {
                        "type": "boolean",
                        "example": false
                    }
                },
                "required": [
                    "current_page",
                    "per_page",
                    "total",
                    "total_pages"
                ]
            },
            "PaginationLinks": {
                "type": "object",
                "properties": {
                    "first": {
                        "type": "string",
                        "format": "uri",
                        "example": "\/api\/users?page=1"
                    },
                    "last": {
                        "type": "string",
                        "format": "uri",
                        "example": "\/api\/users?page=6"
                    },
                    "prev": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uri"
                    },
                    "next": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uri"
                    }
                }
            },
            "SuccessResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": true
                    },
                    "message": {
                        "type": "string",
                        "example": "Operation completed successfully"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "required": [
                    "success",
                    "message"
                ]
            },
            "Error": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "default": false,
                        "example": false
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "required": [
                    "success",
                    "message",
                    "data"
                ]
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Resource not found"
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "code": {
                                "type": "integer",
                                "example": 404
                            },
                            "error_code": {
                                "type": "string",
                                "enum": [
                                    "BAD_REQUEST",
                                    "UNAUTHORIZED",
                                    "FORBIDDEN",
                                    "NOT_FOUND",
                                    "METHOD_NOT_ALLOWED",
                                    "CONFLICT",
                                    "UNPROCESSABLE_ENTITY",
                                    "TOO_MANY_REQUESTS",
                                    "INTERNAL_SERVER_ERROR",
                                    "SERVICE_UNAVAILABLE",
                                    "GATEWAY_TIMEOUT"
                                ],
                                "example": "NOT_FOUND"
                            },
                            "timestamp": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 datetime when the error occurred."
                            },
                            "request_id": {
                                "type": "string",
                                "example": "req_abc123",
                                "description": "Correlation identifier for tracing this request in logs."
                            }
                        },
                        "required": [
                            "code",
                            "error_code",
                            "timestamp",
                            "request_id"
                        ]
                    }
                },
                "required": [
                    "success",
                    "message",
                    "error"
                ]
            },
            "WebhookEnvelope": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "wh_evt_abc123"
                    },
                    "event": {
                        "type": "string",
                        "example": "user.created"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "required": [
                    "id",
                    "event",
                    "created_at",
                    "data"
                ]
            },
            "ValidationErrorResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Validation failed"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "required": [
                    "success",
                    "message",
                    "errors"
                ]
            },
            "LoginRequest": {
                "type": "object",
                "required": [
                    "username",
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "description": "Username or email"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password"
                    },
                    "remember_me": {
                        "type": "boolean",
                        "description": "Keep user logged in",
                        "default": false
                    }
                }
            },
            "LoginResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "message": {
                        "type": "string"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "access_token": {
                                "type": "string",
                                "description": "JWT access token"
                            },
                            "refresh_token": {
                                "type": "string",
                                "description": "JWT refresh token"
                            },
                            "token_type": {
                                "type": "string",
                                "example": "Bearer"
                            },
                            "expires_in": {
                                "type": "integer",
                                "description": "Token expiration time in seconds"
                            },
                            "user": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "User unique identifier"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "description": "Email address"
                                    },
                                    "email_verified": {
                                        "type": "boolean",
                                        "description": "Email verification status"
                                    },
                                    "username": {
                                        "type": "string",
                                        "description": "Username"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "Full name"
                                    },
                                    "given_name": {
                                        "type": "string",
                                        "description": "First name"
                                    },
                                    "family_name": {
                                        "type": "string",
                                        "description": "Last name"
                                    },
                                    "picture": {
                                        "type": "string",
                                        "description": "Profile image URL"
                                    },
                                    "locale": {
                                        "type": "string",
                                        "description": "User locale (e.g., en-US)"
                                    },
                                    "updated_at": {
                                        "type": "integer",
                                        "description": "Last update timestamp (Unix epoch)"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "RefreshTokenRequest": {
                "type": "object",
                "required": [
                    "refresh_token"
                ],
                "properties": {
                    "refresh_token": {
                        "type": "string",
                        "description": "The refresh token to exchange for new tokens"
                    }
                }
            },
            "User": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique user identifier"
                    },
                    "username": {
                        "type": "string",
                        "description": "User username"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "User email address"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "inactive",
                            "suspended"
                        ],
                        "description": "User account status"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Account creation timestamp"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Last update timestamp"
                    }
                }
            },
            "CreateUserRequest": {
                "type": "object",
                "required": [
                    "username",
                    "email",
                    "password"
                ],
                "properties": {
                    "username": {
                        "type": "string",
                        "description": "Unique username"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "User email address"
                    },
                    "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password"
                    }
                }
            },
            "UpdateUserRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "description": "New email address"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "inactive",
                            "suspended"
                        ],
                        "description": "New account status"
                    }
                }
            },
            "HealthCheckResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "healthy",
                            "unhealthy"
                        ],
                        "description": "Overall system health status"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Health check timestamp"
                    },
                    "services": {
                        "type": "object",
                        "properties": {
                            "database": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            },
                            "cache": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            },
                            "queue": {
                                "$ref": "#\/components\/schemas\/ServiceHealth"
                            }
                        }
                    }
                }
            },
            "ServiceHealth": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "up",
                            "down"
                        ],
                        "description": "Service availability status"
                    },
                    "latency": {
                        "type": "number",
                        "description": "Response time in milliseconds"
                    },
                    "message": {
                        "type": "string",
                        "description": "Additional status information"
                    }
                }
            },
            "Extension": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Extension name"
                    },
                    "version": {
                        "type": "string",
                        "description": "Extension version"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "enabled",
                            "disabled"
                        ],
                        "description": "Extension status"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "core",
                            "optional"
                        ],
                        "description": "Extension type"
                    },
                    "description": {
                        "type": "string",
                        "description": "Extension description"
                    },
                    "dependencies": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Required dependencies"
                    }
                }
            },
            "ExtensionListResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/Extension"
                        }
                    }
                }
            },
            "Notification": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "description": "Notification ID"
                    },
                    "type": {
                        "type": "string",
                        "description": "Notification type"
                    },
                    "notifiable_type": {
                        "type": "string",
                        "description": "Type of entity being notified"
                    },
                    "notifiable_id": {
                        "type": "string",
                        "description": "ID of entity being notified"
                    },
                    "data": {
                        "type": "object",
                        "description": "Notification payload"
                    },
                    "read_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time",
                        "description": "When notification was read"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When notification was created"
                    }
                }
            },
            "NotificationListResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/Notification"
                        }
                    },
                    "meta": {
                        "$ref": "#\/components\/schemas\/PaginationMeta"
                    }
                }
            },
            "FileUploadRequest": {
                "type": "object",
                "required": [
                    "file"
                ],
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "description": "The file to upload"
                    }
                }
            },
            "FileUploadResponse": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object",
                        "properties": {
                            "filename": {
                                "type": "string",
                                "description": "Uploaded file name"
                            },
                            "size": {
                                "type": "integer",
                                "description": "File size in bytes"
                            },
                            "mime_type": {
                                "type": "string",
                                "description": "File MIME type"
                            },
                            "url": {
                                "type": "string",
                                "description": "File access URL"
                            }
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "\/rbac\/roles": {
            "get": {
                "operationId": "getRbacRoles",
                "summary": "List all roles",
                "tags": [
                    "RBAC Roles"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number for pagination (default: 1)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Number of items per page (default: 25)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "Search term for role name or slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "Filter by role status",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "required": false,
                        "description": "Filter by role hierarchy level",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "tree",
                        "in": "query",
                        "required": false,
                        "description": "Return roles as a hierarchical tree structure",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "include_deleted",
                        "in": "query",
                        "required": false,
                        "description": "Include soft-deleted roles",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves a paginated list of roles with optional filtering, or a hierarchical tree view when `tree=true`. Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Roles retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "postRbacRoles",
                "summary": "Create new role",
                "tags": [
                    "RBAC Roles"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Creates a role. Body: `name` (required), `slug` (required), `description`, `parent_uuid`, `status`, `metadata`. Requires the `roles.create` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "slug": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "parent_uuid": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "level": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ]
                                    },
                                    "status": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "metadata": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {}
                                    }
                                },
                                "required": [
                                    "name",
                                    "slug"
                                ]
                            },
                            "example": {
                                "name": "Jane",
                                "slug": "example-slug",
                                "description": "A short description.",
                                "parent_uuid": "example",
                                "level": "example",
                                "status": "example",
                                "metadata": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "errors"
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Role created successfully"
                    },
                    "400": {
                        "description": "Invalid request format or validation errors"
                    },
                    "409": {
                        "description": "Role name or slug already exists"
                    }
                }
            }
        },
        "\/rbac\/roles\/stats": {
            "get": {
                "operationId": "getRbacRolesStats",
                "summary": "Get role statistics",
                "tags": [
                    "RBAC Roles"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves aggregate role statistics (totals, active\/system counts, by-level breakdown). Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Role statistics retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/rbac\/roles\/bulk": {
            "post": {
                "operationId": "postRbacRolesBulk",
                "summary": "Bulk role operations",
                "tags": [
                    "RBAC Roles"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Performs a bulk action across multiple roles. Body: `action` (required; one of delete, activate, deactivate), `role_ids` (required), `force`. Requires the `roles.edit` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "action": {
                                        "type": "string"
                                    },
                                    "role_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "force": {
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "action",
                                    "role_ids"
                                ]
                            },
                            "example": {
                                "action": "example",
                                "role_ids": "example",
                                "force": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bulk operation completed"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "errors"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request format"
                    }
                }
            }
        },
        "\/rbac\/permissions": {
            "get": {
                "operationId": "getRbacPermissions",
                "summary": "List all permissions",
                "tags": [
                    "RBAC Permissions"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number for pagination (default: 1)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Number of items per page (default: 25)",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "description": "Search term for permission name or slug",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "required": false,
                        "description": "Filter by permission category",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resource_type",
                        "in": "query",
                        "required": false,
                        "description": "Filter by resource type",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves a paginated list of permissions with optional filtering. Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Permissions retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "postRbacPermissions",
                "summary": "Create new permission",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Creates a permission. Body: `name` (required), `slug` (required), `description`, `category`, `resource_type`, `metadata`. Requires the `system.config` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "slug": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "category": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "resource_type": {
                                        "type": [
                                            "string",
                                            "null"
                                        ]
                                    },
                                    "metadata": {
                                        "type": [
                                            "array",
                                            "null"
                                        ],
                                        "items": {}
                                    }
                                },
                                "required": [
                                    "name",
                                    "slug"
                                ]
                            },
                            "example": {
                                "name": "Jane",
                                "slug": "example-slug",
                                "description": "A short description.",
                                "category": "example",
                                "resource_type": "example",
                                "metadata": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "errors"
                                    ]
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Permission created successfully"
                    },
                    "400": {
                        "description": "Invalid request format"
                    },
                    "409": {
                        "description": "Permission name or slug already exists"
                    }
                }
            }
        },
        "\/rbac\/permissions\/stats": {
            "get": {
                "operationId": "getRbacPermissionsStats",
                "summary": "Get permission statistics",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves aggregate permission statistics (totals, system count, by-category and by-resource-type breakdowns, direct assignment count). Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Permission statistics retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/rbac\/permissions\/cleanup-expired": {
            "post": {
                "operationId": "postRbacPermissionsCleanupexpired",
                "summary": "Cleanup expired permissions",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Removes all expired permission assignments. Requires the `system.config` permission.",
                "responses": {
                    "200": {
                        "description": "Expired permissions cleaned up"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/rbac\/permissions\/categories": {
            "get": {
                "operationId": "getRbacPermissionsCategories",
                "summary": "Get permission categories",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves all available permission categories. Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Permission categories retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/rbac\/permissions\/resource-types": {
            "get": {
                "operationId": "getRbacPermissionsResourcetypes",
                "summary": "Get resource types",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retrieves all available resource types. Requires the `roles.view` permission.",
                "responses": {
                    "200": {
                        "description": "Resource types retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/rbac\/permissions\/batch-assign": {
            "post": {
                "operationId": "postRbacPermissionsBatchassign",
                "summary": "Batch assign permissions",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Assigns multiple permissions to a user. Body: `user_uuid` (required), `permissions` (required; array of {permission, resource, options}), `options`. Requires the `system.config` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_uuid": {
                                        "type": "string"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {}
                                    },
                                    "options": {
                                        "type": "array",
                                        "items": {}
                                    }
                                },
                                "required": [
                                    "user_uuid",
                                    "permissions"
                                ]
                            },
                            "example": {
                                "user_uuid": "example",
                                "permissions": "example",
                                "options": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch permission assignment completed"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "errors"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request format"
                    }
                }
            }
        },
        "\/rbac\/permissions\/batch-revoke": {
            "post": {
                "operationId": "postRbacPermissionsBatchrevoke",
                "summary": "Batch revoke permissions",
                "tags": [
                    "RBAC Permissions"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Revokes multiple permissions from a user. Body: `user_uuid` (required), `permission_slugs` (required). Requires the `system.config` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_uuid": {
                                        "type": "string"
                                    },
                                    "permission_slugs": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "required": [
                                    "user_uuid",
                                    "permission_slugs"
                                ]
                            },
                            "example": {
                                "user_uuid": "example",
                                "permission_slugs": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Batch permission revocation completed"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "500": {
                        "description": "Unexpected server error.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "integer"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "request_id": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "errors"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request format"
                    }
                }
            }
        },
        "\/rbac\/check-permission": {
            "post": {
                "operationId": "postRbacCheckpermission",
                "summary": "Check user permission",
                "tags": [
                    "RBAC Validation"
                ],
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Checks whether a user has a specific permission. Body: `user_uuid` (required), `permission` (required), `resource`, `context`. Requires the `users.view` permission.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "user_uuid": {
                                        "type": "string"
                                    },
                                    "permission": {
                                        "type": "string"
                                    },
                                    "resource": {
                                        "type": "string"
                                    },
                                    "context": {
                                        "type": "array",
                                        "items": {}
                                    }
                                },
                                "required": [
                                    "user_uuid",
                                    "permission"
                                ]
                            },
                            "example": {
                                "user_uuid": "example",
                                "permission": "example",
                                "resource": "example",
                                "context": "example"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Permission check completed"
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "type": "object",
[...]
